/*

main color: #3A539B
item color: #dfe3ee
white: #fff

*/

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.container {
  width: 400px;
  max-height: 800px;
  overflow-y: auto;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENT */
/* ----------------------------------------------- */
section {
    padding: 20px 0;
}

.row {
    max-width: 400px;
    margin: 0 auto;
}

/* --------- HEADINGS --------- */

h1 {
  font-weight: 200;
}

/* --------- BUTTONS --------- */

.btn {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 200px;
  font-weight: 200;
  cursor: pointer;
}

.btn-default {
  color: #3b5998;
  border: 1px solid #3b5998;
}

.btn-full {
  color: #fff;
  background-color: #3b5998;
  transition: background-color, 0.2s;
}

.btn-full:hover {
  background-color: #2d4373;
}

/* --------- ITEM --------- */

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

.header-buttons {
  width: 100%;
  text-align: center;
}

/* ----------------------------------------------- */
/* ITEMS */
/* ----------------------------------------------- */

section.items {
  background-color: #dfe3ee
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer p {
  padding: 10px 0;
  text-align: center;
  font-size: 75%;
}